*{
  margin:0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 80s infinite alternate;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}


.landing-page {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}