

.login-container {
    width:50vw;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    justify-content: center;
    margin-top: 4rem;
    margin-left:25%;
    padding-top:2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.25);
   
}




.login-form {
    width:100%;
    margin-top: 2rem;
 
}

.form-label {
    padding-bottom: 2rem;
}

#login-input-1, #login-input-2{
    width: 100%;
    margin-bottom: 1.5rem;
}

#login-input-1:focus, #login-input-2:focus{
    width: 100%;
    margin-bottom: 1.5rem;
    border: 3px solid navy;
    box-shadow: 2px 2px 2px 2px rgb(104, 149, 231);;
}

#forgot-pw{
   margin-top: 2rem;
   text-shadow: 3px 3px 0px 3px white;
   
}

#forgot-pw:hover{
    margin-top: 2rem;
    text-shadow: 3px 3px 0px 3px white;
    background: white;
    opacity: 0.5;
    
 }

#register {
    margin-bottom: 2rem;
}

#register:hover{
   background: white;
   opacity: 0.5;
   margin-bottom: 2rem;
    
 }
 
 #login-btn {
     width:70%;
    padding-top: .5rem;
    padding-bottom:.5rem;

 }


 
 