
.timer {
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: rgb(240, 237, 229) 2px 0px 10px;
}

.button-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
   
}